<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="stylesheets/ng-table.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
	<script src="https://code.angularjs.org/1.2.7/angular-cookies.js"></script>
	<script src="https://code.angularjs.org/1.2.7/angular-sanitize.js"></script>
	<script src="/javascripts/tlknApp.js"></script>
	<script type="text/javascript" src="/javascripts/ui-bootstrap-min.js"></script>
	<script src="/javascripts/ng-table.min.js"></script>
</head>
<body>
	<div ng-app ="Tlkn">
		<ng-view></ng-view>
	</div>
</body>
</html>
